.menu{
/*  background-color:rgb(42, 251, 14) ; */
    grid-area: menu;
    grid-column: 1/2;
}

.menu h1{
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-size: 14px;
}

.menu-nav{
    align-items: center;
}

.menu-nav a{
    display: inline-flex;
    align-items: center;
    width: 80%;
    margin-bottom:1rem;
}

.menu-nav a h2{
    margin-left:10%;
}

/* 
#botao-comunidade{
    opacity: 0.3;
    transition: 1s;
}

#botao-comunidade:hover{
    opacity: 1;
} */

/* .menu{
    width: 100%; 
}

.menu ul li{
padding: 10px;
margin: left;
}
.menu a{
    display: flex;
    align-items: center;
    justify-content: start;

}
.menu svg {
    margin: 0;
}
.menu h2{
    margin-left: 10px;
} */









/*---------------------------------------ICONES MENU----------------------------------------*/
.editor-icon {
    /* Icon */
    width: 48px;
    height: 48px;
    left: 0px;
    top: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    /* Rectangle 37 */
    left: 0%;
    right: 74.6%;
    top: 0%;
    bottom: 0%;

    border-radius: 16px;
    /* icon_code */
    left: 6.35%;
    right: 80.95%;
    top: 25%;
    bottom: 25%;
    /* Vector */
    left: 8.33%;
    right: 8.33%;
    top: 16.67%;
    bottom: 16.67%;
}

.comunidade-icon{
    /* Icon */
position: static;
width: 48px;
height: 48px;
left: 0px;
top: 0px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
/* Rectangle 37 */
left: 0%;
right: 70%;
top: 0%;
bottom: 0%;
background: #5081FB;
border-radius: 16px;
/* Font Awesome Icon */
left: 7.5%;
right: 77.5%;
top: 25%;
bottom: 25%;
/* Vector */
left: 8.33%;
right: 8.33%;
top: 20.83%;
bottom: 20.83%;
}
