/* ----------------------------------------------------------------MOBILE--------------------------------------------------------------------------------------------- */
@media screen and (min-width: 0){
    .col-1-cab{

          width: 50%;
      }
      
      .col-2-cab{

          width: 0%;
      }
      .col-3-cab{

          width: 50%;
      }

    .usuario, .menu, .barra-pesquisa{
        visibility: hidden;
    } 
    
    .usuario{
        display: none;
    }


    .caixa-hamburger{
        background-color: cadetblue;
        height: 100%;
    }
    .menu-hamburger{
        visibility: visible;
        background-color: brown;  

    }     

    .projeto {
        grid-row: 2/3;
    }

    .container{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 100%;
        /* grid-template-rows: minmax(50px, auto); */
        grid-template-rows: 1fr;
        align-items: stretch;
        justify-items: stretch;
        grid-template-areas: 
        "editor-section"
        "projeto"  
        ;
    }

    .editor-section{
        grid-column: 1/3;
    }

    .projeto{
        grid-column: 1/3;
        margin-top: 10%;
        margin-left: 0%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .projeto h1 {
        margin-bottom: 5%;
    }

    .projeto h1:nth-of-type(2){
        margin-top: 7%
    } 

    .cores{
        height: 15vh;
    }
    #liSair{
        display:none;
    }
}   
/* ------------------------------------------------------------------------TABLET--------------------------------------------------------------------------------------------------------------------------------- */
 @media screen and (min-width: 768px){
    .col-1-cab{
          width: 25%;
      }
      
      .col-2-cab{
          width: 70%;
      }
      .col-3-cab{ 
          width: 10%;
      }

    .barra-pesquisa,  .menu-hamburger{
        visibility: visible;
    }
    .caixa-pesquisa{
        display: block;
    }
    .usuario, .menu{
        visibility: hidden;
      }  
    
    .container{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        align-items: stretch;
        justify-items: stretch;
        grid-template-areas: 
        "editor-section"
        "projeto"  
        ;
        grid-column: 1/3;
        margin-top: 10%;
        margin-left: 0%;
        padding-left: 0%;
        padding-right: 0%;
    }
    
    .projeto {
        margin-top: 5%;
    }

    .projeto h1:nth-of-type(2){
        margin-top: 5%
    } 

    .caixa-personalizacao{
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        gap: 1rem;
        height: 100%;
    }

    .borda-cor{
        width: 100%;
        height: 100%;
    }
    .cores{
        height: 15vh;
    }

    .col-2-cab{
        display: block;
    }
    
    .div-lupa{
        display: none;
    }
    #liSair{
        display:none;
    }
} 

/* --------------------------------------------DESKTOP------------------------------------------ */
  @media screen and (min-width: 992px){
    
    .usuario{
        visibility: visible;
      }


    .menu-hamburger{
        visibility: hidden;
    }  

    .barra-pesquisa,  .menu{
        visibility: visible;
    }  

    

    .caixa-hamburger, .div-lupa{
        display: none;
    }


    .container{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 100%;
        align-items: stretch;
        justify-items: stretch;
        grid-template-areas: 
        "menu editor-section projeto";
    }

    .menu-nav{
        padding-top: 1rem;
        padding-bottom: 10%;
    }

    .editor-section{
        grid-column: 2/3;
    }
    .projeto{
        grid-column: 3/3;
        margin-top: 0;
        margin-left: 8%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .projeto h1:nth-of-type(2){
        margin-top: 10%
    } 

    .caixa-personalizacao{
        display: inline;
        width: 100%;
    }

    .borda-cor{
        width: 100%;
    }

    .cores{
        height: 8vh;
    }

    .usuario{
    display:inline-flex;
    align-items: center;
    column-gap: 8%;
    padding: 2%;
    padding-right:3%;
    height: 100%;
    transition: 0.4s;
    margin-right: 1rem;
}

.usuario:hover{
    background-color: #192F4A;
    border-radius: 8px;
}


.usuario img{
    border-radius: 100%;
}



.col-1-cab{
    width: 25%;
}

.col-2-cab{
    width: 50%;
}
.col-3-cab{
    width: 25%;
}

}